# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
data/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# virtualenv
venv/
ENV/

.ipynb_checkpoints/*
out/*
out.*/*
